body {
    margin: 0;
    padding: 0;
    background-color: #3c1b43;
    font-family: 'Archivo Narrow', sans-serif;
    color: white;
}

#sidebar {
    padding: 25px;
    margin: 0 auto;
    justify-content: center;

    width: 250px;
    background-color: #401F59;
    height: 100vh;
    float: left;
}

.topic-container, #add-topic {
    padding: 1px;
    padding-left: 15px;
    margin: 20px 0;
    
    background-color: #2A1C4F;
    border-radius: 20px;
    cursor: pointer;
}

.topic-container h3, #add-topic h3 {
    margin: 10px;

    font-size: 30px;
}

.topic-container:hover, #add-topic:hover {
    transform: scale(107%);
}

#add-topic {
    display: flex;
    background-color: #d46d12;
}

#main {
    margin-left: 250px;
    padding: 20px;
}